*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    min-height: 100vh;
    background-color: blue;
    display: grid;
    place-items: center;
}

.calculadora{
    background-color: cornflowerblue;
    color: white;
    width: 350px;
    max-width: 100%;
    padding: 1.5rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: .5rem;
}

.pantalla{
    grid-column: 1 / 5;
    background-color: blue;
    padding: 1.5 rem;
    font-size: 2rem;
    text-align: right;
    border-radius: .5rem;
    margin-bottom: 1rem;
    font-family: monospace;
    font-weight: 600;
}

.btn{
    background-color: cornflowerblue;
    color: white;
    border: 0;
    padding: 1.5rem .5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: .5rem;
    cursor: pointer;

}

.btn:hover{
    background-color: blue;

}

#cero{
    grid-column: span 2;
}

#igual{
    grid-row: span 2;
    background-color: darksalmon;

}

#igual:hover{
    background-color: darksalmon;
}